@page "/counter"

@using System.Timers

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<br/>
<Component Counter="currentCount">
    <BodyTemplate>
        <button @onclick="ClickBody">Click in BodyTemplate</button>
    </BodyTemplate>
</Component>

@code {
    private int currentCount = 0;
    private Timer timer;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        timer = new Timer(2000);
        timer.Elapsed += OnTimedEvent;
        timer.Enabled = true;
    }

    private void OnTimedEvent(object source,ElapsedEventArgs e)
    {
        IncrementCount();
        Console.WriteLine($"Counter Value: {this.currentCount}");
    }

    private void IncrementCount()
    {
        currentCount++;
    }

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        Console.WriteLine($"counter - OnAfterRender at {DateTime.Now.ToString("hh:MM:ss:fff")}");
    }

    private void ClickBody()
    {

    }
}
