@page "/"
@inject ICustomerService CustService
@implements IDisposable


<h1>Hello, world!</h1>

Welcome to your new app.
<br />
CustomerService Id: @CustService.Uid

<br />
Customer Name: @customer.Name

@code {

    private Customer customer;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        if (customer == null)
        {
            customer = CustService.GetCustomerById(1);
        }
    }

    public void Dispose()
    {

    }

}