@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<br/>
<br />
<div class="field is-horizontal">
    <div class="field-label is-normal">
        <label class="field-label">To</label>
    </div>
    <div class="field-body">
        <div class="field">
            <p class="control">
                <input class="input" type="email" placeholder="Recipient email" />
            </p>
        </div>
    </div>
</div>
