<h3>ChildComponent</h3>

@code {

    public override Task SetParametersAsync(ParameterView parameters)
    {
        Console.WriteLine($"Parent - SetParameterAsync: {DateTime.Now.ToString("yyyy-MM-dd hh:mm:ss:fff")}");

        return base.SetParametersAsync(parameters);
    }

    protected override void OnInitialized()
    {
        Console.WriteLine($"Parent - OnInitialized: {DateTime.Now.ToString("yyyy-MM-dd hh:mm:ss:fff")}");

        base.OnInitialized();
    }

    protected override void OnParametersSet()
    {
        Console.WriteLine($"Parent - OnParameterSet: {DateTime.Now.ToString("yyyy-MM-dd hh:mm:ss")}");

        base.OnParametersSet();
    }

    protected override bool ShouldRender()
    {
        Console.WriteLine($"Parent - ShouldRender: {DateTime.Now.ToString("yyyy-MM-dd hh:mm:ss")}");

        return base.ShouldRender();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        Console.WriteLine($"Parent - OnAfterRender: {DateTime.Now.ToString("yyyy-MM-dd hh:mm:ss")}");

        base.OnAfterRender(firstRender);
    }

}
