<div>
    <p style="color:@Color">Current Count: @CounterValue</p>
</div>

@code {
    [CascadingParameter(Name ="Counter")]
    public int CounterValue { get; set; }

    [CascadingParameter(Name ="TitleColor")]
    public string Color { get; set; }

}
